{% extends "base.html" %}


{% block SideBarHeader1 %}

Base Filters

{% endblock %}


{% block SideBarSection1 %}

<span>
  <button id="ClearFilters" class="w3-btn w3-teal w3-round" style="margin-bottom: 5px; width: 50%; font-size: small;">Clear Filters</button>
</span>
<span>
  <button id="DataType" class="w3-btn w3-teal w3-round" style="margin-bottom: 5px; width: 50%; font-size: small;">Data Type</button>
</span>
<span>
  <button id="FileSize" class="w3-btn w3-teal w3-round" style="margin-bottom: 5px; width: 50%; font-size: small;">File Size</button>
</span>

{% endblock %}
        

{% block SideBarHeader2 %}

Date/Time Filters

{% endblock %}


{% block SideBarSection2 %}

<div style="margin-bottom: 5px; width: 100%;">
  <label class="" for="">Start Date:</label>
  <input class="" type="date" id="" name="">
</div>
<div style="margin-bottom: 5px; width: 100%">
  <label class="" for="">End Date:</label>
  <input class="" type="date" id="" name="">
</div>
<div style="margin-bottom: 5px;">
  <label class="" for="">Jump To:</label>
  <input class="" type="date" id="" name="">
</div>
<span>
  <button id="IncrementStep" class="w3-btn w3-teal w3-round" style="margin-bottom: 5px; width: 50%; font-size: small;">Increment Step</button>
</span>

{% endblock %}


{% block SideBarHeader3 %}

Groups

{% endblock %}


{% block SideBarSection3 %}
<span>
  <button id="CreateGroup" class="w3-btn w3-teal w3-round" style="margin-bottom: 5px; width: 50%; font-size: small;">Create Group</button>
</span>
<span>
  <button id="ClearGroup" class="w3-btn w3-teal w3-round" style="margin-bottom: 5px; width: 50%; font-size: small;">Clear Groups</button>
</span>
<span>
  <button id="ShowGroups" class="w3-btn w3-teal w3-round" style="margin-bottom: 5px; width: 50%; font-size: small;">Show Groups</button>
</span>
{% endblock %}


{% block MainAreaHeader %}

Timeline

{%endblock%}


{% block MainArea %}

<div id="visualization"></div>

{%endblock%}
          

{% block Javascript %}
<script>
    // DOM element where the Timeline will be attached
    var container = document.getElementById("visualization");

    // Create a DataSet (allows two way data-binding)
    var items = new vis.DataSet([
      { id: "SMS-1", content: "<span><span>item 1</span>", start: "2014-04-20", description:"sdfsd", style: "background-color: pink;", subgroup: "1"},
      { id: 2, content: "item 2", start: "2014-04-14" },
      { id: 3, content: "item 3", start: "2014-04-18" },
      { id: "SMS-4", content: "item 4", start: "2014-04-16", end: "2014-04-19" },
      { id: "SMS-5", content: "item 5", start: "2014-04-25" },
      { id: 6, content: "item 6", start: "2014-04-27", type: "point" },
    ]);


    // Configuration for the Timeline
    var options = {};
    
    // Create a Timeline
    var timeline = new vis.Timeline(container, items, options);


    var item = {
      id: 9999, content: "AAAAAA", start: "2014-04-25"
    };


    items.add(item);
    items.remove("SMS-5");
    
    document.getElementById('visualization').onclick = function (event) {
      var props = timeline.getEventProperties(event)
      console.log(props);
    }

    //TO DO
    //fuctions to add an remove items
    //functions to create a new timeline and delete the old one
    //fuction to spesify the time window of the timeline
    //fuction to change the zoom of timline
    //function that jumps to a place on the timeline
    //function to update the Data Overview from timeline
    //function to write a new description from timeline  
    //function to update the Write Description
    //fuction to create item ID from API
    //color code each data

</script>
{% endblock %}


